<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>odk-voice-prime</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FormVxmlServlet</display-name>
    <servlet-name>FormVxmlServlet</servlet-name>
    <servlet-class>org.odk.voice.servlet.FormVxmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormVxmlServlet</servlet-name>
    <url-pattern>/formVxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XFormUploadServlet</display-name>
    <servlet-name>XFormUploadServlet</servlet-name>
    <servlet-class>org.odk.voice.servlet.XFormUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XFormUploadServlet</servlet-name>
    <url-pattern>/admin/formUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AudioPromptServlet</display-name>
    <servlet-name>AudioPromptServlet</servlet-name>
    <servlet-class>org.odk.voice.servlet.AudioPromptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AudioPromptServlet</servlet-name>
    <url-pattern>/audio/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordPromptServlet</display-name>
    <servlet-name>RecordPromptServlet</servlet-name>
    <servlet-class>org.odk.voice.servlet.RecordPromptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordPromptServlet</servlet-name>
    <url-pattern>/recordPrompt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogServlet</display-name>
    <servlet-name>LogServlet</servlet-name>
    <servlet-class>org.odk.voice.servlet.LogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogServlet</servlet-name>
    <url-pattern>/admin/logs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutboundScheduleServlet</display-name>
    <servlet-name>OutboundScheduleServlet</servlet-name>
    <servlet-class>org.odk.voice.servlet.OutboundScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutboundScheduleServlet</servlet-name>
    <url-pattern>/admin/outboundSchedule</url-pattern>
  </servlet-mapping>
  
  <!-- Define application events listeners -->
  <listener>
    <listener-class>
     org.odk.voice.schedule.OutboundCallScheduler
    </listener-class>
  </listener>
  
  <listener>
    <listener-class>
     org.odk.voice.digits2string.CorpusFactory
    </listener-class>
  </listener>
  
    <!-- Define a Security Constraint on this Application -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Entire Application</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>odkadmin</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Define the Login Configuration for this Application -->
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Application</realm-name>
  </login-config>

  <!-- Security roles referenced by this web application -->
  <!-- <security-role>
    <description>
      ODK Admin
    </description>
    <role-name>odkadmin</role-name>
  </security-role> -->

</web-app>
